
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'school:index' %}">CEMMAH</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pupils<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'school:add_new_pupil' %}">Add new pupil</a></li>
                <li><a href="{% url 'school:list_pupil' %}">Manage pupils</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teachers<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'school:add_new_teacher' %}">Add new teacher</a></li>
                <li><a href="{% url 'school:list_teacher' %}">Manage teachers</a></li>
              </ul>
            </li>
            <li><a href="{% url 'school:list_responsible' %}">Responsibles</a></li>
            <li><a href="{% url 'school:list_course' %}">Courses</a></li>
            <li><a href="{% url 'school:list_attendance' %}">Attendances</a></li>
            <li><a href="{% url 'school:list_score' %}">Scores</a></li>
            <li><a href="#"></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ user.userprofile.image.url }}" alt="Image de profil de {{ user.username }}" class="avatar-xs"> {{ user.first_name }} {{ user.last_name }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin">Admin</a></li>
                <li><a href="{% url 'school:logout' %}">Log out</a></li>
                <li><a href="{% url 'school:change_password' %}">Change Password</a></li>
              </ul>
            </li>
          </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'school:login' %}">Login</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>