@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');


*{
	margin: 0;
	padding: 0;
}
body {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 65px;
  background-color: #fff;
}
footer:before{
	content: " ";
	display: block;
	height: 1px;
	background-color: #1ce;
	width: 20%;
	margin: 0.5em auto;
}

footer{
	margin-top: 3em;
}

.navbar-inverse{
	background-color: rgba(0, 0, 0, 1);
	border-top: 2px solid #1ce;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
	border-bottom: none;
}

.nav li a{

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}
.navbar-brand{
	font-family: 'Pacifico', Helvetica;
}


.avatar-xs{
	
	border-radius: 100%;
	height: 25px;
	width: 25px;
}
.jumbotron{
	text-align: center;
	background-color: rgba(0, 0, 25, 0.7); 
	padding-right: 5em;
}

.jumbotron img{
    border-radius: 4%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 25, 0.3);
    width: 100%;
	padding-right: 5em;
}




.container form ul li{

	color: #1ce;
}
.list-group .first-action{
   background-color: rgba(0, 0, 25, 0.7);
}
.list-group .first-action:hover{
	background-color: rgba(0, 0, 25, 0.9);

}


.btn-outline-success{

	margin-top: 10px;
}

.form-control-custum{
	width: 25%;
}
.input-file-custum{
	margin-top: 10px;
}