{% extends 'school/base_display.html' %}

	{% block title %}
		Responsibles' list | {{ site_name }}
	{% endblock %}

    {% block display_table %}

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Total number of responsibles {{ responsibles|length }}</strong>
  </div>
  <div class="panel-body">          
      <div id="messages"></div>

        <div class="pull pull-right">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addResponsible" id="addClassModelBtn"> 
                <i class="glyphicon glyphicon-plus-sign"></i> Add responsible
            </button>
        </div>

        <br /> <br /> <br />
        
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="list_responsible">
            <thead>
              <tr><th>Action</th><th>#</th><th>First Name</th><th>Last Name</th><th>Address</th></tr>
            </thead>
                <tbody>
                {% for resp in responsibles %}
                    <tr><td><a href="{% url 'school:update_responsible' id=resp.id %}" >edit</a></td><td><a href="{% url 'school:show_detail_responsible' id=resp.id %}">{{ resp.id }}</a></td><td>{{ resp.first_name }}</td><td>{{ resp.last_name }}</td><td>{{ resp.address }}</td></tr>
                {% endfor %}
            </tbody>
    </table>
    </div>
    
  </div>
</div>





        <div class="modal fade" tabindex="-1" role="dialog" id="addResponsible">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Responsible</h4>
              </div>

              <form class="form-horizontal container" method="post" id="createTeacherForm" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="modal-body create-modal">
                <div class="row">
                   <div class="col-md-12">
                    <div class="form-group container">
              
                     {{ form.as_p }}
                     <input type="submit" class="btn btn-default" name="submit" value="Save">
                    </div>
                   </div>
                </div>
               </div>
              </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

		
    {% endblock %}